Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.gitignore
.env
.env.*
!.env.production
out
.DS_Store
*.pem
.vscode
.idea
coverage
.husky
.storybook
storybook-static
tests
.github
*.md
!README.md
playwright-report
test-results
